body{
background-color: #EDEDED;
font-family: sans-serif;
}

#avatar{
background-image: url("bg.png");
background-position: bottom;
background-repeat: repeat-x;
padding-left: 35px;
color: #585858;
font-size: 20px;
height: 87px;
overflow: hidden;
}

#center{
background-color: white;
padding: 30px 30px 30px 150px;
}

#center, #avatar{
margin:0px 25px;
}

#hi{
margin-left: 110px;
margin-top: 45px;
font-size: 30px;
}

#header{
font-size: 20px;
vertical-align: middle;
}

h2{
font-size: 20px;
margin-bottom: 20px;
}

#center td {
font-size: 12px;
}

input{
border: 2px solid #ccc;
border-radius:3px;
}

select {
border: 2px solid #ccc;
border-radius:3px;
}

.link{
font-position: center;
font-size: 20px;
/*margin-right: 200px;*/
display:block;
border-radius:3px;
padding:10px;
text-decoration:none;
background: #a9de5f;
color: white;
}

A:hover {
    text-decoration: blink; 
    color: red; /* Цвет ссылки */
}

.a {
	margin-left: 25%;
	margin-right: 50%;	
}